numpy>=1.26.4, <2.3.0,
scipy==1.13.1
pandas>=2.1.1
pvlib>=0.10.3
protobuf>=5.29.1
pytz>=2023.4
requests>=2.32.3
beautifulsoup4>=4.12.3
h5py>=3.12.1
pulp==2.8.0
pyyaml>=6.0.1
tables>=3.9.1
skforecast>=0.14.0
# web server packages
flask>=3.1.0
waitress>=3.0.2
plotly>=6.0.0rc0