/*! style.css v1.0.0 (modified version) | ISC License | https://github.com/ungoldman/style.css */

/* color reference css */
.light {
  color: darkblue;
  color: #ccf3ff;
  color: white;  
  color: #e1e1e1;
  color: silver;
  color: #7d7d7d;
  color: #3d3d3d;
  color: #111111;
}


.dark {
  color: #ccf3ff;
  color: #e1e1e1;
  color: silver;
  color: #7d7d7d;
  color: #3f3f3f;
  color: #181818;
  color: #111111;
}
/* -------------- */


html {
  color: #3d3d3d;
  background-color: white;
  box-sizing: border-box;
  font-family: Roboto, Noto, Noto Sans, sans-serif;
  font-size: calc(14px + 0.25vw);
  line-height: 1.55;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern", "liga" 1, "calt" 0;
  font-feature-settings: "kern", "liga" 1, "calt" 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

h2 {
  color: darkblue;
}

.text.adaptive {
  color: #111111;
}

button:hover {
  color: darkblue;
}

body {
  margin: 0 auto;
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
blockquote,
ul,
ol,
dl,
table,
pre {
  margin-top: 0;
  margin-bottom: 1.22em;
}

small {
  font-size: 80%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.25em;
  margin-bottom: 1.25rem;
  margin-top: 2rem;
  position: relative;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: #7d7d7d;
  font-size: 0.7em;
  font-weight: 300;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  font-size: 0.9em;
}

h1 {
  font-size: 2.75em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1.15em;
  /* color: #575757; */
}

p {
  letter-spacing: -0.01em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: darkblue;
  text-decoration: none;
}

a:active,
a:hover {
  outline-width: 0;
  outline: 0;
}

a:active,
a:focus,
a:hover {
  text-decoration: underline;
}

ul,
ol {
  padding: 0;
  padding-left: 2em;
}

ul ol,
ol ol {
  list-style-type: lower-roman;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha;
}

li > p {
  margin-top: 1em;
}

blockquote {
  margin: 0 0 1rem;
  padding: 0 1rem;
  color: #7d7d7d;
  border-left: 4px solid silver;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}

b,
strong {
  font-weight: inherit;
  font-weight: 600;
}

mark {
  background-color: darkblue;
  color: #3d3d3d;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

code,
pre,
kbd,
samp {
  font-family: Roboto, Noto, Noto Sans, sans-serif;
  font-size: 90%;
}

pre,
code {
  background-color: silver;
  border-radius: 7px;
}

pre {
  overflow: auto;
  word-wrap: normal;
  padding: 1em;
  line-height: 1.45;
}

pre code {
  background: transparent;
  display: inline;
  padding: 0;
  line-height: inherit;
  word-wrap: normal;
}

pre code::before,
pre code::after {
  content: normal;
}

pre > code {
  border: 0;
  font-size: 1em;
  white-space: pre;
  word-break: normal;
}

code {
  padding: 0.2em 0;
  margin: 0;
}

code::before,
code::after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

kbd {
  background-color: silver;
  background-image: linear-gradient(#ccf3ff, silver);
  background-repeat: repeat-x;
  border: 1px solid silver;
  border-radius: 7px;
  box-shadow: 0 1px 0 silver;
  color: #3d3d3d;
  display: inline-block;
  line-height: 0.95em;
  margin: 0 1px;
  padding: 5px 5px 1px;
}

td,
th {
  padding: 0;
}

hr {
  box-sizing: content-box;
  overflow: visible;
  background: transparent;
  height: 4px;
  padding: 0;
  margin: 1em 0;
  background-color: silver;
  border: 0 none;
}

hr::before {
  display: table;
  content: "";
}

hr::after {
  display: table;
  clear: both;
  content: "";
}

img {
  border-style: none;
  border: 0;
  max-width: 50%;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 0;
}

figure img {
  background: #e1e1e1;
  border: 1px solid #c7c7c7;
  padding: 0.25em;
}

figcaption {
  font-style: italic;
  font-size: 0.75em;
  font-weight: 200;
  margin: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

dfn {
  font-style: italic;
}

dd {
  margin-left: 0;
}

dl {
  padding: 0;
}

dl dt {
  padding: 0;
  margin-top: 1em;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

dl dd {
  padding: 0 1em;
  margin-bottom: 1.25em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

input {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #7d7d7d;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

[disabled] {
  cursor: default;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

button,
.main-svg,
.mystyle,
table {
  border-radius: 7px;
  margin: 15px 10px;
  /* overflow: visible; */
}

table {
  max-width: 50%;
}

button {
  padding: 10px;
  margin: 0px;
}

.table_div {
  /* margin: 15px 5px 0px 0px; */
  margin: 15px 5px 0px 0px;
}

.plotly-graph-div,
.table_div {
  overflow-x: auto !important;
}

.modebar-group {
  float: right !important;
  min-width: 0px !important;
}
.svg-container,
.table_div div {
  min-width: 850px;
}

.modebar-container, .modebar{
  width: 100% !important;
  position: relative !important;
  float: right !important;
}


/* Special style for DataFrmae tables */
/* includes alternating gray and white with on-hover color */
.mystyle,
.main-svg {
  font-size: 11pt;
  font-family: Arial;
  border-collapse: collapse;
  border-radius: 7px;
  border-style: hidden;
  /* box-shadow: 0 0 0 1px rgb(192, 192, 192, 50%); */
}

.mystyle td {
  padding: 5px;
}

th {
  padding: 5px 7.77px;
}

.mystyle tr:nth-child(even) {
  background: #e1e1e1;
}

.mystyle tr:hover {
  background: silver;
  cursor: pointer;
}

.svg-container, .main-svg, .gl-container, .modebar-container {
  margin: 0 !important;
}

/* mobile only changes */
@media only screen and (max-width: 799px) {
.modebar-group:has(a[data-attr=dragmode]), .draglayer, .layer-below {
  display: none !important;
}
}

/* Dark Theme Support */
@media (prefers-color-scheme: dark) {
  html.adaptive {
    background: #111111;
    color: #e1e1e1;
  }
  img,
  figure {
    -webkit-filter: invert(90%);
    filter: invert(90%);
  }
  button {
    color: #e1e1e1;
    background-color: rgb(40, 41, 40);
  }
  button:hover {
    color: #ccf3ff;
    background-color: #3d3d3d;
  }
  h2,
  kbd,
  a {
    background-color: #111111;
    color: #ccf3ff;
    border: rgb(71, 71, 71);
  }
  .modebar-btn {
    background-color: #e1e1e1;
  }
  .main-svg svg,
  legend {
    background-color: rgb(73, 73, 73, 5%);
    background: rgb(73, 73, 73, 5%);
  }
  .g-gtitle,
  .g-xtitle,
  .g-ytitle,
  legend,
  th {
    color: #e1e1e1;
  }
  tr td:nth-child(even),
  .mystyle tr td:nth-child(even) {
    background-color: #3d3d3d;
  }
  tr:nth-child(odd),
  .mystyle tr:nth-child(odd) {
    background-color: #111111;
  }
  tr:nth-child(even),
  .mystyle tr:nth-child(even) {
    background-color: #181818;
  }
  tr:hover td,
  th {
    background-color: #3f3f3f;
  }
  .mystyle,
  .main-svg {
    box-shadow: 0 0 0 1px silver;
  }
}
