wheel
numpy==1.26.0
pandas==2.0.3
scipy==1.11.3
pvlib>=0.10.1
protobuf>=3.0.0
pytz>=2021.1
requests>=2.25.1
beautifulsoup4>=4.9.3
pulp>=2.4
pyyaml>=5.4.1
tables==3.9.1
skforecast==0.11.0
markupsafe==2.1.5
Jinja2<3.2
plotly>=5.6.0
sphinx==6.2.1
sphinx-rtd-theme==1.2.0
docutils==0.18.1
attrs==21.4.0
myst-parser==2.0.0
