name: Python test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  security-events: write
  contents: read

jobs:
  # Google OSV-Scanner  
  scan-pr:
    uses: "GeoDerp/osv-scanner/.github/workflows/osv-scanner-reusable.yml@v0.0.1"
    with:
      scan-args: |-
        --recursive
        --skip-git=true
        ./
  build:
    runs-on: ${{ matrix.os }}
    needs:
      - scan-pr
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11"]
        os: [ubuntu-latest, macos-latest, windows-latest]
    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python-version }}

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        
    - name: Special dependencies for macos
      run: |
        brew install hdf5
        pip3 install numpy==1.26.0
        pip3 install tables==3.9.1
      if: ${{ matrix.os == 'macos-latest' }}
        
    - name: Install dependencies
      run: |
        pip install pytest requests-mock
        pip install .
        
    - name: Test with pytest
      run: |
        pytest
