# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9"] # "3.10"
        os: [ubuntu-latest, macos-latest, windows-latest]
    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python-version }}

    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest
        python setup.py install
        
    - name: Install Tox and any other packages
      run: pip install tox

    - name: Test with coverage
      run: tox -e py-coverage

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2
      with:
        env_vars: OS,PYTHON
        token: ${{secrets.CODECOV_TOKEN}}
        fail_ci_if_error: true
        verbose: true
        
        
    #- name: Test with pytest
    #  run: |
    #    pytest
    #- name: Generate coverage report
    #  run: |
    #    pip install pytest-cov
    #    pytest --cov=./ --cov-report=xml
    #- name: Upload coverage to Codecov
    #  uses: codecov/codecov-action@v2
    #  with:
    #    env_vars: OS,PYTHON
    #    token: ${{secrets.CODECOV_TOKEN}}
    #    flags: unittests
    #    name: codecov-umbrella
    #    verbose: true
